<div class="games-nav">
  <p><img src="/assets/images/games/taylor-swift-this-is-fun.gif" alt="Taylor Swift - This is Fun" title="Taylor Swift - This is Fun" /></p>
  <h2>📑 Sections</h2>
  <ul>
    <li><a alt="Playing" title="Playing" href="#playing">🎮</a></li>
    <li><a alt="Unplayed" title="Unplayed" href="#unplayed">👾</a></li>
    <li><a alt="Fun" title="Fun" href="#fun">😍</a></li>
    <li><a alt="VR Experiences" title="VR Experiences" href="#vr-experiences">🎬</a></li>
    <li><a alt="Awaiting Content" title="Awaiting Content" href="#awaiting-content">📆</a></li>
    <li><a alt="Beaten" title="Beaten" href="#beaten">🏁</a></li>
    <li><a alt="Jettisoned" title="Jettisoned" href="#jettisoned">🚀</a></li>
    <li><a alt="Purchases" title="Purchases" href="#purchases">💸</a></li>
    <li><a alt="Why" title="Why" href="#why">💭</a></li>
    <li><a alt="Lessons Learned" title="Lessons Learned" href="#lessons">📝</a></li>
    <li><a alt="Legend" title="Legend" href="#legend">ℹ️ </a></li>
  </ul>
</div>
