<div class="games-nav">
  <a name="sections"></a>
  <h2>📑 Sections</h2>
  <ul>
    <li><a href="#currently-playing" alt="Playing" title="Playing">🎮</a></li>
    <li><a href="#unplayed" alt="Unplayed" title="Unplayed">👾</
    <li><a href="#for-fun" alt="For Funsies" title="For Funsies">😍</a></li>
    <li><a href="#awaiting-content" alt="Awaiting Content" title="Awaiting Content">📆</a></li>
    <li><a href="#revisiting" alt="Revisiting" title="Revisiting">🔁</a></li>
    <li><a href="#beaten" alt="Beaten" title="Beaten">🏁</a></li>
    <li><a href="#jettisoned" alt="Jettisoned" title="Jettisoned">🚀</a></li>
    <li><a href="#planned-purchases" alt="Planned Purchases" title="Planned Purchases">💸</a></li>
    <li><a href="#why" alt="Why?" title="Why?">💭</a></li>
    <li><a href="#notes-to-self" alt="Notes to Self" title="Notes to Self">📝</a></li>
    <li><a href="#legend" alt="Legend" title="Legend">ℹ️</a></li>
  </ul>
  <div style="clear:both;"></div>
</div>
