<div class="games-nav">
  <ul>
    <li><a href="#currently-playing">Playing</a></li>
    <li><a href="#unplayed">Unplayed</a></li>
    <!--<li><a href="#unplayed-freebies">Freebies</a></li>-->
    <!--<li><a href="#undecided">Undecided</a></li>-->
    <li><a href="#for-fun">Fun</a></li>
    <!--<li><a href="#awaiting-content">Paused</a></li>-->
    <li><a href="#beaten">Beaten</a></li>
    <li><a href="#jettisoned">Jettisoned</a></li>
    <li><a href="#planned-purchases">Buying</a></li>
    <li><a href="#why">Why?</a></li>
    <li><a href="#notes-to-self">Notes</a></li>
    <li><a href="#legend">Legend</a></li>
    <!-- <li><a href="javascript: randomName()" id="character-name-link">Random Character Name</a></li> -->
  </ul>
  <div style="clear:both;"></div>
</div>
