<div class="games-nav">
  <p><img src="/assets/images/games/taylor-swift-this-is-fun.gif" alt="Taylor Swift - This is Fun" title="Taylor Swift - This is Fun" /></p>
  <h2>:bookmark_tabs: Sections</h2>
  <ul>
    <li><a href="#currently-playing"><img class="emoji" title="Playing" alt="Playing" src="/assets/images/emoji/unicode/1f3ae.png" height="20" width="20"></a></li>
    <li><a href="#unplayed"><img class="emoji" title="Unplayed" alt="Unplayed" src="/assets/images/emoji/unicode/1f47e.png" height="20" width="20"></a></li>
    <li><a href="#for-fun"><img class="emoji" title="For Funsies" alt="For Funsies" src="/assets/images/emoji/unicode/1f60d.png" height="20" width="20"></a></li>
    <li><a href="#awaiting-content"><img class="emoji" title="Awaiting Content" alt="Awaiting Content" src="/assets/images/emoji/unicode/1f4c6.png" height="20" width="20"></a></li>
    <li><a href="#revisiting"><img class="emoji" title="Revisiting" alt="Revisiting" src="/assets/images/emoji/unicode/1f501.png" height="20" width="20"></a></li>
    <li><a href="#beaten"><img class="emoji" title="Beaten" alt="Beaten" src="/assets/images/emoji/unicode/1f3c1.png" height="20" width="20"></a></li>
    <li><a href="#jettisoned"><img class="emoji" title="Jettisoned" alt="Jettisoned" src="/assets/images/emoji/unicode/1f680.png" height="20" width="20"></a></li>
    <li><a href="#planned-purchases"><img class="emoji" title="Planned Purchases" alt="Planned Purchases" src="/assets/images/emoji/unicode/1f4b8.png" height="20" width="20"></a></li>
    <li><a href="#why"><img class="emoji" title="Why?" alt="Why?" src="/assets/images/emoji/unicode/1f4ad.png" height="20" width="20"></a></li>
    <li><a href="#notes-to-self"><img class="emoji" title="Notes to Self" alt="Notes to Self" src="/assets/images/emoji/unicode/1f4dd.png" height="20" width="20"></a></li>
    <li><a href="#legend"><img class="emoji" title="Legend" alt="Legend" src="/assets/images/emoji/unicode/2139.png" height="20" width="20"></a></li>
  </ul>

  <div style="clear:both;"></div>
</div>
