<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <!-- open graph tags -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image" content="{{ site.url }}/assets/images/taylor-swift/heart-hands.png" />
    
    <!-- twitter card tags - additive with the open graph tags -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:site" content="@{{ site.twitter_username }}" />
    <meta property="twitter:creator" content="@{{ site.twitter_username }}" />
    <meta property="twitter:domain" content="{{ site.domain }}" />
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="twitter:image" content="{{ site.url }}/assets/images/taylor-swift/heart-hands.png" />
    <meta property="twitter:image:alt" content="Heart Hands" />
    <meta property="twitter:url" content="{{ site.url }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=ts1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=ts1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=ts1">
    <link rel="manifest" href="/site.webmanifest?v=ts1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=ts1" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=ts1">
    <meta name="msapplication-TileColor" content="#f9da0a">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if page.customjs %}{% for js in page.customjs %}
    <script type="text/javascript" src="/assets/javascript/{{ js }}"></script>
    {% endfor %}{% endif %}
</head>
