<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?v=ts1">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png?v=ts1">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png?v=ts1">
    <link rel="manifest" href="/site.webmanifest?v=ts1">
    <link rel="mask-icon" href="/safari-pinned-tab.svg?v=ts1" color="#5bbad5">
    <link rel="shortcut icon" href="/favicon.ico?v=ts1">
    <meta name="msapplication-TileColor" content="#f9da0a">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if page.customjs %}{% for js in page.customjs %}
    <script type="text/javascript" src="/assets/javascript/{{ js }}"></script>
    {% endfor %}{% endif %}
</head>
